@import "tailwindcss";

/* Colors */
@theme {
  --color-brown-100: #E4E0E1;
  --color-brown-200: #D6C0B3;
  --color-brown-300: #AB886D;
  --color-brown-350: #735540;
  --color-brown-400: #493628;
  --color-gold: #E6C494;
}
